.container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.header-logo {
    margin: 0 auto;
    padding-top: 40px;
    box-sizing: border-box;
}

.header-logo > img {
    object-fit: contain;
    max-width: 700px;
    width: 100%;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 700px;
    width: 100%;
}

h4, p {
    text-align: center;
}

p {
    font-weight: 300;

}

.logos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

}

.logos__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}


.logos__item > img {
    width: 125px;
    height: 90px;
    margin:0 15px;


}

@media(max-width: 996px) {
    .logos__item > img {
        margin: 0;
    }
}


@media(max-width: 440px) {

    .logos__item {
       margin-bottom: 30px;
    }

}

img.larger {
    width: 140px;
    height: 75px;
}

img.xs {
    width: 120px;

}
